.search-button{
    background-color: #232527;
    height: 80px;
    width: 100%;
}
.search-button ::placeholder{
    font-size: 18px;
}
.search-button input{
    text-align: left;
    justify-content: center;
    width: 80%;
    padding: 5px;
    margin-top: 25px;
}
.input{
    margin-left: 10%;
}
.icon{
    color: white;
    margin-left: 10px;
    font-size: 25px;
}
.length{
    color: #EE5A24;
    font-size: 20px;
}